#div_1{
  width: 200px;
  height: 100px;
}

#div_2{
  width: 200px;
  height: 600px;
}

#div_3{
  width: 300px;
  height: 200px;
}

.div{
  background-color: #ECF7A6;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
}

p{
  background-color: #A6F7F3;
  text-align: center;
}
